@use "sass:math";
@use "../abstracts" as *;
.row {
  display: flex;
  flex-wrap: wrap;
}
.navLayer {
  @include position(fixed, 0, 0, 0, 0, 100%, 100%);
  background: rgba(0, 0, 0, 0.6);
  z-index: 3;
  &--close {
    display: none;
  }
  &--open {
    display: block;
  }
}
.mainPage {
  width: 100vw;
  height: 100vh;

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background: rgb(54, 113, 173);
    height: 60px;
    z-index: 5;
    .openTab {
      width: 60px;
      height: 60px;
      display: none;
      align-items: center;
      justify-content: center;
      @include responsive(small) {
        display: flex;
      }
    }
  }
  .children-page {
    margin-left: 230px;
    width: calc(100% - 230px);
    height: calc(100% - 60px);
    @include responsive(small) {
      margin-left: 0;
      width: 100vw;
      height: 100vh;
    }
  }
  .slider {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    margin-top: 60px;
    background: rgb(237, 242, 247);
    height: calc(100vh - 60px);
    transition: all 0.3s linear;
    @include responsive(small) {
      margin-left: 0;
      width: 65vw;
      height: 100vh;
      background: #fff;
      z-index: 4;
    }
    &--close {
      transform: translateX(-100%);
    }
    &--open {
      transform: translateX(0);
    }
    .menu {
      padding: 4px;
      .tab {
        height: 40px;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 16px;
        font-size: 14px;
        cursor: pointer;
      }
      .tab--active {
        height: 40px;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 16px;
        font-size: 14px;
        background: rgb(54, 113, 173);
        color: #fff;
        cursor: pointer;
      }
    }
  }
}
